src/main/mule/simple-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5182706a-3761-49bf-84e8-0d575491e6d6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="simple-projectFlow" doc:id="a40ed147-26c9-4e9d-9852-fc069e703970" >
		<http:listener doc:name="Listener" doc:id="26df2519-6899-45e6-afae-a872eb5e054d" config-ref="HTTP_Listener_config" path="/simple"/>
		<logger level="INFO" doc:name="Logger" doc:id="e85dec95-773c-4550-a5b4-e5caa6982ade" message="satya"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4d90c978-d533-43d3-8214-b339eaad88fa" />
	</flow>
</mule>
